---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Error pariatur consequuntur maiores reprehenderit, deleniti dignissimos hic nihil ab id, incidunt ipsa tempora cupiditate voluptas iure similique dolore aliquam vero odio.
	</main>
</Layout>


